:root {
    --dark_grey: #424650;
    --middle_grey: #828591;
    --light_grey: #aeb0b8;
    --light_blue: #CDD7E8;
    --lightest_blue: #f5f9ff;
    --salmon: #DBA38B;
}

.about-panel {
    background-color: var(--light_grey);
    height: 100vh;
}

.content-container {
    margin: auto;
    width: fit-content;
}